body {
    margin: 0;
    font-family: monospace;
  }

  #martial-arts-image {
    height: 500px;
    width: 700px;
  }

  #martial-arts-header {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    opacity: .8;
    height: 20rem;
    padding: 1rem;
  }

  #martial-arts-collection {
    margin: 2rem;
  }

  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #FFFFFF;
    opacity: .8;
    color: blue;
  }

  .card {
    text-align: center;
    color: blue;
  }